/*.jumbotron-fluid{
	background-color: #719192;
}

body{
	background-color: #dfcdc3;
}*/


.jumbotron-fluid{
	background-color: #e5e5e5;
}

.navbar{
	background-color: #d2d0fe;
}

body{
	background-color: #fdecff;
}
